
   <section class="hero">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md-6 hero-text">
            
            <h1>Connect Lawyers & Clients</h1>
            <p>
              Find the right legal expert for your case. A freelancing platform
              made for legal services.
            </p>
            
            <button
              type="button"
              class="btn main-btn mt-3 py-3 px-5"
              (click)="showModal()"
            >
              Get Started
            </button>
          </div>
          <div class="col-md-5 mt-4 mt-md-0">
            <img
              src="assets/images/header3.png"
              alt="Lawyer and client banner"
              class="hero-img"
            />
          </div>
        </div>
      </div>
    </section>

    <section id="WhySection">
      <div class="container text-center py-5 mb-5">
        <h2 class="text-center mb-5 display-1">Why AdvILaw?</h2>
        <div class="row justify-content-center">
          <div class="col-sm-10 col-md-6 col-lg-3 mb-3">
            <div class="WhySectionItem">
              <i class="fa-regular fa-clock"></i>
              <h3>Fast Response</h3>
              <p>
                Connect with lawyers instantly — fast, reliable legal advice at
                your fingertips.
              </p>
            </div>
          </div>
          <div class="col-sm-10 col-md-6 col-lg-3 mb-3">
            <div class="WhySectionItem">
              <i class="fa-solid fa-money-bill-1"></i>
              <h3>No Hidden Fees</h3>
              <p>
                We believe in clear, upfront pricing. What you see is what you
                pay
              </p>
            </div>
          </div>
          <div class="col-sm-10 col-md-6 col-lg-3 mb-3">
            <div class="WhySectionItem">
              <i class="fa-solid fa-shield-halved"></i>
              <h3>Secure Payments</h3>
              <p>
                Your transactions are protected with industry-grade security
                measures.
              </p>
            </div>
          </div>
          <div class="col-sm-10 col-md-6 col-lg-3 mb-3">
            <div class="WhySectionItem">
              <i class="fa-solid fa-users"></i>
              <h3>Trusted By Businesses</h3>
              <p>
                Hundreds of professionals and companies rely on AdvILaw for
                fast, transparent legal help.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr />

    <section id="howItWorks">
      <div class="container py-5 mb-5">
        <h2 class="text-center mb-2 display-1">How It Works!</h2>
        <p class="text-muted mb-5 text-center">
          Get the legal help you need in just a few steps.
        </p>

        <div class="row align-items-center">
          <div class="col-lg-7 col-md-8 text-center text-sm-start">
            <h3 class="display-2">1. Post Your Request</h3>
            <p class="lead">
              Describe your legal issue or book a consultation with a lawyer.
            </p>
          </div>
          <div class="col-lg-5 col-md-4">
            <img src="assets/images/step1.png" alt="" class="img-fluid" />
          </div>
        </div>
        <hr class="my-5" />

        <div class="row align-items-center flex-sm-row flex-column-reverse">
          <div class="col-lg-5 col-md-4">
            <img src="assets/images/step2.png" alt="" class="img-fluid" />
          </div>
          <div class="col-lg-7 col-md-8 text-center text-sm-start">
            <h3 class="display-2">2. Get Offers</h3>
            <p class="lead">
              Lawyers will respond with their availability and pricing.
            </p>
          </div>
        </div>
        <hr class="my-5" />
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-8 text-center text-sm-start">
            <h3 class="display-2">3. Start the Session</h3>
            <p class="lead">
              Once accepted, chat opens and payment is securely processed.
            </p>
          </div>
          <div class="col-lg-5 col-md-4">
            <img src="assets/images/step3.png" alt="" class="img-fluid" />
          </div>
        </div>
      </div>
    </section>

    <hr />

    <section class="py-5 bg-navy text-center">
      <div class="container">
        <h2 class="fw-bold mb-3">Ready to get legal advice?</h2>
        <p class="mb-4">
          Join AdvILaw and connect with the right lawyer in minutes.
        </p>
            <button
              type="button"
              class="btn main-btn mt-3 py-3 px-5"
              (click)="showModal()">
              Get Started
            </button>
      </div>
    </section>
