

.hero-section{
    background-image: url('/assets/images/landing-page.jpg');
    background-size: cover;
    background-position: center;
    color: var(--color-navy-blue);
    padding: 2rem;
    padding-block: 80px;
}

.CoverAreasSection{
    background-image: url('/assets/images/Area.jpg');
    background-size: cover;
    background-position: center;
    color: var(--color-navy-blue);
    padding: 2rem;
    padding-block: 80px;
}