<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td *ngFor="let col of columns">
          <!-- Image column -->
          <ng-container *ngIf="col.type === 'image'; else nonImage">
            <img [src]="item[col.key]" alt="image" width="50" height="50" />
          </ng-container>

          <!-- Other columns -->
          <ng-template #nonImage>
            <!-- Boolean -->
            <ng-container *ngIf="col.type === 'boolean'; else nonBoolean">
              {{ item[col.key] ? "Yes" : "No" }}
            </ng-container>

            <!-- Link -->
            <ng-template #nonBoolean>
              <ng-container *ngIf="col.type === 'link'; else plain">
                <a
                  [routerLink]="col.link + item[col.linkKey || col.key]"
                  class="text-decoration-underline"
                >
                  {{ item[col.key] }}
                </a>
              </ng-container>

              <!-- Plain text -->
              <ng-template #plain>
                {{ item[col.key] }}
              </ng-template>
            </ng-template>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
