* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.main-container {
  min-height: 100vh;
  background-color: var(--color-sand-beige);
}

.form-header {
  color: var(--color-navy-blue);
}

.form-control {
  border: none;
  border-bottom: solid var(--color-navy-blue) 1px;
  border-radius: 0;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--color-medium-brown);
}

.input-custom {
  width: 75%;
}

.main-btn {
  background-color: var(--color-mustard);
  color: #fff;
  transition: 0.3s ease-in-out;
}

.main-btn:hover {
  background-color: var(--color-light-brown);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card {
  border-radius: 10px;
}
input.ng-invalid.ng-touched {
  border-color: red;
}