/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
    --color-mustard: #f0b35a;
    --color-dark-gray-blue: #4b545e;
    --color-sand-beige: #f9f1e3;
    --color-medium-brown: #87603f;
    --color-light-brown: #c49b72;
    --color-sky-blue: #8eb5d0;
    --color-navy-blue: #313f4c;
     --color-gold: #fdc500;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
